asyncio
langchain_core
transformers
langchain_community
langchain_openai
python-dotenv
pydantic
SQLAlchemy
jose
passlib
fastapi-offline
gym
aiosqlite
typing
uvicorn
cachetools
chromadb
sqlalchemy[asyncio]

